AppWeb/WebContent/p01/xsd/tablon_simp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="tablon">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
	<xs:element name="anuncio">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="fecha" type="xs:date" />
	      <xs:element name="asunto" type="xs:string" />
	      <xs:element name="texto" type="xs:string" />
	      <xs:element name="precio" type="xs:decimal" />
	      <xs:element name="contacto" type="xs:string" />
	    </xs:sequence>
	    <xs:anyAttribute/>
	  </xs:complexType>
	</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	  
</xs:schema>
